// Get the variables.
@import "variables/variables";

// Pages section 
@import "pages/home";
@import "pages/about";
@import "pages/project";
@import "pages/contact";

// Misc section
@import "misc/custom";
@import "misc/navbar";
@import "misc/footer";

// Responsive
@import "responsive-manager/_responsive-home.scss";



html {
    font-size: 100%; // 16px.
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color:$background-color;
}
