
@media (max-width:big-tablet-landscape) {
    html{
        font-size: 80% !important;
    }

    .header-text-wrap{
        width: 60vw;
    }
   
}

@media (max-width:$regular-tablet-landscape) {
    html{
        font-size: 75% !important;
    }

    header{
        height: 80vh;
    }
    
    .about-text-paragraph-2 {
        display: none;
    }
    .header-text-wrap{
        p{
            word-spacing: 3px;
        }
    }

}
@media (max-width:$big-tablet-portrait) {
    html{
        font-size: 75.5% !important;
    }
    .responsive-display-blogs-container{
        display: none;
    }

    
    .responsive-about-section{
        flex-direction: column;
        justify-content: center;
        
        .live-blessed-graphic{
            align-self: center;
            padding: 0 auto;
            order:-1;
            width:250%;
        }
        .section-about-text{
            .about-text-paragraph-2 {
                display: block;
            }
            width:220%;
            justify-content: center;
            order: 1;
            .section-btn {
                align-self: center;
            }
        }
        
    }
    .contact-section{
        .contact-box-header{
            font-size: 1.3rem !important;
        }
        .contact-box-content{
            letter-spacing: 1px !important;
        }
    }

}
@media (max-width:$regular-tablet-portrait) {
    .header-section{
        justify-content: center;
    }

    .responsive-blog-row{
        flex-direction: column;

        .blogs-container{
            width: 55%;
            align-self: center;
            margin-top: 2rem;
        }
    }

    .responsive-contact-row{
        flex-direction: column;
        .contact-box{
            border:none;
        }
    }
}

@media (max-width:$xl-phone-screen) {
    html{
        font-size: 65% !important;
    }
    header{
         height: 60vh;
        
    }
    .title-header{
        font-size: 1.7rem;
    }
    
    .header-text-wrap{
        width: 70vw;
        .read-more {
            padding: .5rem 1rem;
            font-size: .9rem;
        }
    }

    .live-blessed-graphic{
        max-width: 70%;
    }
    .about-text-paragraph-2 {
        display: none !important ;
    }

    .subscribe-form{
        .subscribe-input{
            width: 67%;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: 200;
        }
        .subscribe-btn{
            font-size: 1rem;
            padding: 5px;
            width: 33%;  
        }
    }
    .testimonial-section {
        display: none;
    }

    .blogs-container{
        margin-top: 3rem;
        .blog-title{
            font-size: 8px;
        }
    }

    // about-section----------------------------------------

    .about-title-header{
        font-size: 3rem;
    }
    .about-us{
        font-size: 4.5rem !important;
        margin-top: 4rem;
    }
    .tulsa-logo{
        width: 15rem;
    }
    .about-content{
        margin: 1rem 0 ;

        .about-paragraph{
            font-size: 1.2rem;
            word-spacing: 3px;
            line-height: 2rem;
        }
    }

    .section-team{
        margin: 2rem 0;
    }

    .section-core-members {
        margin: 5rem 0;
    }

}

@media (max-width:$small-phone-screen) {
    .blogs-container{
        width: 80% !important;
    }
    .subscribe-input{
        padding: 1rem 1.5rem !important;
    }
    .live-blessed-graphic{
        max-width: 90%;
    }

    /* About section-----------------------------------*/
    
    .section-header{
        height: 50vh;
        .header-background{
            height: 40vh !important;
        }
    }
}