header {
  height: 90vh;
  background: linear-gradient(0deg, rgba(112, 18, 68, 0.5), rgba(112, 18, 68, 0.5)), url("../images/Mask Group 1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.header-section {
  height: 100%;
  display: flex;
  align-items: center; }

.header-text-wrap {
  color: #fff;
  width: 40vw; }
  .header-text-wrap h1 {
    font-size: 4rem;
    letter-spacing: 1.4rem; }
  .header-text-wrap h2 {
    letter-spacing: .7rem; }
  .header-text-wrap p {
    margin-top: 1rem;
    line-height: 1.7rem;
    margin-bottom: 2rem; }
  .header-text-wrap .read-more {
    border: 1px solid #fff;
    padding: 1rem 2rem;
    color: #fff; }

.title-header {
  text-align: center;
  color: #89285b;
  font-weight: 300;
  font-style: italic;
  font-size: 3rem; }

.tulsa-artwork {
  width: 35rem;
  display: block;
  margin: auto; }

.section-about-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; }
  .section-about-text p {
    line-height: 2.2rem;
    letter-spacing: 3px; }
  .section-about-text .section-btn {
    border: 1px solid #89285b;
    padding: 1rem 2rem;
    align-self: flex-start;
    color: #89285b;
    text-decoration: none;
    margin-top: 1rem; }

.brand-section {
  background-color: #d6d6d6; }
  .brand-section .brand-logo {
    width: 14rem;
    display: block;
    margin: auto; }

.mt-30 {
  margin-top: 3rem; }

.testimonial-section {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40rem;
  margin-bottom: 12rem; }
  .testimonial-section .testimonial-image1 {
    background-image: url("../images/boy-cap-carrying-1456951.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .testimonial-section .testimonial-image2 {
    background-image: url("../images/adult-child-facial-expression-834508.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .testimonial-section .testimonial-image3 {
    background-image: url("../images/adorable-child-cute-1128317.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .testimonial-section .testimonial-box {
    width: 50vw;
    height: 20rem;
    background-color: #fff;
    position: absolute;
    left: 25%;
    bottom: -10rem;
    padding: 1rem;
    -webkit-box-shadow: 10px 28px 39px -1px rgba(71, 71, 71, 0.39);
    -moz-box-shadow: 10px 28px 39px -1px rgba(71, 71, 71, 0.39);
    box-shadow: 10px 28px 39px -1px rgba(71, 71, 71, 0.39);
    text-align: center; }
    .testimonial-section .testimonial-box__heading {
      font-size: 2rem;
      font-weight: 300;
      background-color: green;
      height: 100%; }
    .testimonial-section .testimonial-box .testimonial-box-border {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0.01rem solid #89285b; }
      .testimonial-section .testimonial-box .testimonial-box-border .blockquote-text {
        font-size: 1.4rem; }
    .testimonial-section .testimonial-box .clients-info {
      display: flex;
      flex-direction: column; }
      .testimonial-section .testimonial-box .clients-info__name {
        font-weight: 700; }
      .testimonial-section .testimonial-box .clients-info__designation {
        font-style: italic; }
    .testimonial-section .testimonial-box .slider-content-slide__inner__content {
      padding: 4rem;
      z-index: 2; }
      .testimonial-section .testimonial-box .slider-content-slide__inner__content blockquote:before {
        /* For the qotation mark*/
        content: "\201C";
        /* Quotation code */
        font-size: 15rem;
        color: rgba(184, 64, 128, 0.598);
        display: block;
        z-index: 1;
        position: absolute;
        top: -2rem;
        left: 10rem; }
        @media (max-width: 500px) {
          .testimonial-section .testimonial-box .slider-content-slide__inner__content blockquote:before {
            left: 50%; } }

/*---- Blog section----*/
.blogs-container {
  border: none;
  background-color: #fff;
  margin: 0 1rem;
  padding: 0;
  box-shadow: -13px 18px 9px -2px rgba(0, 0, 0, 0.17); }
  .blogs-container .dream-house-img-container {
    width: 100%;
    height: auto; }
    .blogs-container .dream-house-img-container .dream-house-img {
      width: 100%;
      height: auto; }
  .blogs-container .content-container-box {
    padding: 1rem; }
    .blogs-container .content-container-box .blog-title {
      padding: 1.2rem 0;
      font-weight: 600;
      font-size: 1rem;
      color: #3D1212;
      letter-spacing: 2.5px;
      text-transform: capitalize; }
    .blogs-container .content-container-box .blog-para {
      letter-spacing: 2px;
      line-height: 1.7rem; }
    .blogs-container .content-container-box .blog-read-more {
      display: block;
      text-decoration: none;
      margin-bottom: 1.2rem;
      font-weight: 600;
      color: #000;
      letter-spacing: 2px;
      text-transform: uppercase; }

/* ---- subscribe-section ----*/
.subscribe-section {
  background-color: #89285b;
  text-align: center; }
  .subscribe-section .subscribe-heading {
    color: #fff;
    font-weight: 200;
    font-size: 1 rem; }

/*---- contact-section ----*/
.contact-section {
  margin: 5rem; }
  .contact-section .contact-box {
    text-align: center;
    border-right: 2px solid #e7e1e1; }
    .contact-section .contact-box .contact-box-header {
      margin: 1rem;
      font-weight: 300;
      font-size: 1.5rem; }
    .contact-section .contact-box .contact-box-content {
      color: #89285b;
      font-weight: 600;
      letter-spacing: 3px; }
  .contact-section .contact-box:last-child {
    border-right: none; }

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 2.2rem; }
  .subscribe-form .subscribe-input {
    padding: 1rem 2rem;
    width: 50%;
    border: 2px solid #eee;
    background-color: #89285b;
    color: #eee; }
    .subscribe-form .subscribe-input:focus {
      outline: none; }
    .subscribe-form .subscribe-input::placeholder {
      color: #eee;
      font-size: 1.2rem; }
  .subscribe-form .subscribe-btn {
    border: none;
    padding: 1rem 2rem;
    font-weight: 500;
    letter-spacing: 1px; }
    .subscribe-form .subscribe-btn:active {
      background-color: #e1e1e1; }
    .subscribe-form .subscribe-btn:focus {
      outline: none; }

.about-title-header {
  font-size: 2.5rem;
  color: #89285b;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px; }

/*---- Header ----*/
.section-header {
  background-image: none;
  height: 65vh; }
  .section-header .header-textbox {
    display: inline-block;
    position: absolute;
    top: 7.6rem; }
    .section-header .header-textbox .about-us {
      font-size: 4rem;
      letter-spacing: 4px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 2rem;
      color: #fbe2ed; }
    .section-header .header-textbox .live-blessed {
      color: #89285b;
      letter-spacing: 2px;
      font-size: 2rem;
      font-weight: 400; }
  .section-header .header-background {
    margin-top: 8rem;
    background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.578)), url("../images/Abouthero.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; }

.section-about .tulsa-logo-container {
  display: block;
  text-align: center; }
  .section-about .tulsa-logo-container .tulsa-logo {
    width: 20rem; }

.section-about .about-content {
  margin: 3rem 0; }
  .section-about .about-content .about-paragraph {
    font-size: 1.2rem;
    color: #89285b;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 3rem;
    text-align: justify; }

.section-team {
  margin: 6rem 0; }
  .section-team .section-wrapper {
    padding: 3rem 1rem; }
  .section-team .our-team-header {
    font-size: 2.5rem;
    color: #89285b;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px; }

.section-core-members .member-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 30rem;
  grid-template-columns: 1fr 2fr; }
  .section-core-members .member-section .image-part {
    background-color: #d6d6d6; }
  .section-core-members .member-section .text-part {
    background-color: #eaeaea;
    padding: 2rem; }
    .section-core-members .member-section .text-part__title {
      color: #89285b;
      margin-bottom: 3rem;
      margin-top: 1rem; }
    .section-core-members .member-section .text-part p {
      line-height: 2rem; }

.section-core-members .member-section-alternate {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 30rem;
  grid-template-columns: 2fr 1fr; }
  .section-core-members .member-section-alternate .text-part {
    background-color: #eaeaea;
    padding: 2rem; }
    .section-core-members .member-section-alternate .text-part__title {
      color: #89285b;
      margin-bottom: 3rem;
      margin-top: 1rem; }
    .section-core-members .member-section-alternate .text-part p {
      line-height: 2rem; }
  .section-core-members .member-section-alternate .image-part {
    background-color: #d6d6d6; }

.project-title-header {
  font-size: 2.5rem;
  color: #89285b;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  margin: 1rem 0; }

.project-header {
  background-image: none; }
  .project-header .header-textbox-1 {
    display: inline-block;
    position: absolute;
    top: 7.6rem;
    padding-left: 1rem;
    background-color: #F5F5F5; }
    .project-header .header-textbox-1 .tulsa {
      color: #89285b;
      font-size: 4rem;
      letter-spacing: 4px;
      font-weight: 400;
      text-transform: uppercase; }
    .project-header .header-textbox-1 .live-blessed {
      color: #89285b;
      letter-spacing: 2px;
      font-size: 2rem;
      font-weight: 400; }
  .project-header .header-background {
    margin-top: 8rem;
    width: 80%;
    float: right;
    background: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.578)), url("/images/slide 2.jpg");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center; }
    .project-header .header-background .explore-projects {
      position: absolute;
      color: #d6d6d6;
      left: 50%;
      transform: translate(-30%, -50%);
      font-size: 4rem;
      letter-spacing: 3px;
      font-weight: 100;
      text-transform: capitalize;
      font-style: italic;
      border-top: 1px solid #5a5656;
      border-bottom: 1px solid #5a5656; }

.section-projects {
  padding: 5rem 0;
  background-color: #fff; }
  .section-projects .project-row-box {
    margin: 3rem 0; }
  .section-projects .project-box {
    background-color: #fff;
    margin: 0 1rem;
    padding: 5px;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.08); }
    .section-projects .project-box .project-img-container {
      display: block;
      width: 100%; }
      .section-projects .project-box .project-img-container .project-img {
        width: 100%; }
    .section-projects .project-box .project-content {
      padding: 1rem; }
      .section-projects .project-box .project-content .project-name-price {
        display: flex;
        padding: 1rem 0; }
        .section-projects .project-box .project-content .project-name-price .project-name-header {
          width: 70%;
          color: #89285b;
          font-size: 1.4rem;
          font-weight: 300; }
        .section-projects .project-box .project-content .project-name-price .project-price-header {
          width: 30%;
          float: right;
          color: green;
          font-size: 1.2rem;
          font-weight: 300; }
      .section-projects .project-box .project-content .project-type {
        color: #5a5656;
        padding: 5px 0;
        border-bottom: 1px solid #d6d6d6; }
        .section-projects .project-box .project-content .project-type .project-type-box {
          display: flex; }
          .section-projects .project-box .project-content .project-type .project-type-box .project-bhk-header {
            width: 70%;
            font-size: 1rem;
            font-weight: 300; }
          .section-projects .project-box .project-content .project-type .project-type-box .project-onwards-header {
            width: 30%;
            float: right;
            font-size: 1rem;
            font-weight: 300; }
        .section-projects .project-box .project-content .project-type .project-status {
          padding: 1rem 0; }
          .section-projects .project-box .project-content .project-type .project-status .project-status-header {
            font-size: 1rem;
            font-weight: 300; }
      .section-projects .project-box .project-content .project-location {
        padding-top: 1.2rem; }
        .section-projects .project-box .project-content .project-location .location-icon {
          width: 2rem; }

.contact-header {
  color: #89285b;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 3rem 0;
  letter-spacing: 3px; }

.form-graphic {
  margin: 3rem 0;
  padding: 2rem 0; }
  .form-graphic .colom-1 *:focus {
    outline: none;
    /* To erase the blue border chrome adds to box*/ }
  .form-graphic .colom-1 .form-element {
    display: block;
    margin: 3rem 0;
    padding: 5px 3px;
    border: none;
    background-color: #F5F5F5;
    border-bottom: 1px solid #d6d6d6;
    width: 70%; }
  .form-graphic .colom-1 .message {
    height: 2.2rem; }
  .form-graphic .colom-1 .submit-btn {
    border: 1px solid #89285b;
    border-radius: 5rem;
    padding: 7px 3rem;
    align-self: flex-start;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    background-color: #89285b; }

.map-contact {
  margin: 11rem 0; }
  .map-contact .map-contact-informations {
    padding-left: 4rem; }

.p-30 {
  padding: 3rem; }

.p-40 {
  padding: 4rem; }

.mt-100 {
  margin-top: 10rem; }

.mt-80 {
  margin-top: 6rem; }

.mt-60 {
  margin-top: 6rem; }

.main-logo {
  width: 7rem; }

a.nav-link {
  margin: 0 1rem; }

.footer-section::before {
  background-image: url("../../assets/images/TULSA_Skyline-01.png");
  height: 10rem;
  background-repeat: repeat-x; }

.footer-section {
  background-color: #e7e1e1;
  height: 4rem;
  display: flex;
  align-items: center; }
  .footer-section .footer-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center; }
    .footer-section .footer-container .footer-links {
      list-style: none;
      display: flex;
      align-items: center;
      margin-top: 1.2rem; }
      .footer-section .footer-container .footer-links li {
        margin: 0 2rem; }
        .footer-section .footer-container .footer-links li a {
          text-decoration: none;
          color: #5a5656; }
    .footer-section .footer-container .copyright {
      margin-top: .5rem;
      font-size: 1rem;
      color: #5a5656; }

@media (max-width: big-tablet-landscape) {
  html {
    font-size: 80% !important; }
  .header-text-wrap {
    width: 60vw; } }

@media (max-width: 1000px) {
  html {
    font-size: 75% !important; }
  header {
    height: 80vh; }
  .about-text-paragraph-2 {
    display: none; }
  .header-text-wrap p {
    word-spacing: 3px; } }

@media (max-width: 770px) {
  html {
    font-size: 75.5% !important; }
  .responsive-display-blogs-container {
    display: none; }
  .responsive-about-section {
    flex-direction: column;
    justify-content: center; }
    .responsive-about-section .live-blessed-graphic {
      align-self: center;
      padding: 0 auto;
      order: -1;
      width: 250%; }
    .responsive-about-section .section-about-text {
      width: 220%;
      justify-content: center;
      order: 1; }
      .responsive-about-section .section-about-text .about-text-paragraph-2 {
        display: block; }
      .responsive-about-section .section-about-text .section-btn {
        align-self: center; }
  .contact-section .contact-box-header {
    font-size: 1.3rem !important; }
  .contact-section .contact-box-content {
    letter-spacing: 1px !important; } }

@media (max-width: 600px) {
  .header-section {
    justify-content: center; }
  .responsive-blog-row {
    flex-direction: column; }
    .responsive-blog-row .blogs-container {
      width: 55%;
      align-self: center;
      margin-top: 2rem; }
  .responsive-contact-row {
    flex-direction: column; }
    .responsive-contact-row .contact-box {
      border: none; } }

@media (max-width: 500px) {
  html {
    font-size: 65% !important; }
  header {
    height: 60vh; }
  .title-header {
    font-size: 1.7rem; }
  .header-text-wrap {
    width: 70vw; }
    .header-text-wrap .read-more {
      padding: .5rem 1rem;
      font-size: .9rem; }
  .live-blessed-graphic {
    max-width: 70%; }
  .about-text-paragraph-2 {
    display: none !important; }
  .subscribe-form .subscribe-input {
    width: 67%;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 200; }
  .subscribe-form .subscribe-btn {
    font-size: 1rem;
    padding: 5px;
    width: 33%; }
  .testimonial-section {
    display: none; }
  .blogs-container {
    margin-top: 3rem; }
    .blogs-container .blog-title {
      font-size: 8px; }
  .about-title-header {
    font-size: 3rem; }
  .about-us {
    font-size: 4.5rem !important;
    margin-top: 4rem; }
  .tulsa-logo {
    width: 15rem; }
  .about-content {
    margin: 1rem 0; }
    .about-content .about-paragraph {
      font-size: 1.2rem;
      word-spacing: 3px;
      line-height: 2rem; }
  .section-team {
    margin: 2rem 0; }
  .section-core-members {
    margin: 5rem 0; } }

@media (max-width: 450px) {
  .blogs-container {
    width: 80% !important; }
  .subscribe-input {
    padding: 1rem 1.5rem !important; }
  .live-blessed-graphic {
    max-width: 90%; }
  /* About section-----------------------------------*/
  .section-header {
    height: 50vh; }
    .section-header .header-background {
      height: 40vh !important; } }

html {
  font-size: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5; }
