.about-title-header{
    font-size: 2.5rem;
    color: $primary-color;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}


/*---- Header ----*/

.section-header{
    background-image: none;
    height: 65vh;

    .header-textbox{
        display:inline-block;
        position: absolute;
        top: 7.6rem;

        .about-us{
            // color:$primary-color;
            font-size: 4rem;
            letter-spacing: 4px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 2rem;
            color: $color-light-pink;
        }

        .live-blessed{
            color:$primary-color;
            letter-spacing: 2px;
            font-size: 2rem;
            font-weight: 400;
        }
    }

    .header-background{
        margin-top: 8rem;
        background: linear-gradient(rgba(0, 0, 0, 0.075),rgba(0, 0, 0, 0.578)), url("../images/Abouthero.jpg");
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom ;
        
        
    }
}

.section-about{
    .tulsa-logo-container{
        display: block;
        text-align: center;

        .tulsa-logo{
            width: 20rem;
        }
    }

    .about-content{
        margin: 3rem 0;

        .about-paragraph{
            font-size: 1.2rem;
            color: $primary-color;
            font-weight: 300;
            letter-spacing: 2px;
            margin-top: 3rem;
            text-align: justify;
        }


    }
}

.section-team{
    margin: 6rem 0;

    .section-wrapper{
        padding: 3rem 1rem;
    }
    .our-team-header{
        font-size: 2.5rem;
        color: $primary-color;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .team-img-container{
       .team-img{
            // width:100%;
            // height: 100%;
        }
    }
}


.section-core-members {

    .member-section {
        margin-top: 2rem;
        margin-bottom: 2rem;

        display: grid;
        grid-template-rows: 30rem;
        grid-template-columns: 1fr 2fr;

       .image-part{
        background-color: $light-grey;
       }

       .text-part {
        background-color: lighten($light-grey, 8);
        padding: 2rem;
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        &__title {
            color: $primary-color;
            margin-bottom: 3rem;
            margin-top: 1rem;
        }

        p {
            line-height: 2rem;
        }
       }
    }


    .member-section-alternate {
        margin-top: 2rem;
        margin-bottom: 2rem;

        display: grid;
        grid-template-rows: 30rem;
        grid-template-columns: 2fr 1fr;

       .text-part{
        background-color: lighten($light-grey, 8);
        padding: 2rem;

        &__title {
            color: $primary-color;
            margin-bottom: 3rem;
            margin-top: 1rem;
        }

        p {
            line-height: 2rem;
        }
       }

       .image-part {
        background-color: $light-grey;
       }
    }
}