.contact-header{
    color: $primary-color;
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 3rem 0;
    letter-spacing: 3px;

}

.form-graphic{
    margin:3rem 0;
    padding: 2rem 0;

    .colom-1{
        *:focus{outline: none; /* To erase the blue border chrome adds to box*/
        }
        
        

        .form-element{
            display: block;
            margin: 3rem 0;
            padding: 5px 3px ;
            border:none;
            background-color: $background-color;
            border-bottom: 1px solid $light-grey;
            width: 70%;
            
        }

        .message{
            height: 2.2rem;
            
        }

        .submit-btn{
            border: 1px solid $primary-color;
            border-radius: 5rem;
            padding: 7px 3rem;
            align-self: flex-start;
            color: $white-color;
            text-decoration: none;
            margin-top: 1rem;
            background-color: $primary-color;
        }

    }    
}

.map-contact{
    margin: 11rem 0;

    .map-contact-informations{
        padding-left: 4rem;
    }
}