
header{
    height: 90vh;
    background: linear-gradient(0deg,rgba(112,18,68,0.5),rgba(112,18,68,0.5)),url("../images/Mask\ Group\ 1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-section {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-text-wrap {
    color: $white-color;
    width: 40vw;
    

    h1 {
        font-size: 4rem;
        letter-spacing: 1.4rem;
    }

    h2 {
        letter-spacing: .7rem;
   
    }

    p{
        margin-top: 1rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }

    .read-more {
        border: 1px solid $white-color;
        padding: 1rem 2rem;
        color: $white-color;
    }
    
}


.title-header {
    text-align: center;
    color: $primary-color;
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
}

.tulsa-artwork {
    width: 35rem;
    display: block;
    margin: auto;
}

.section-about-text{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    p {
        line-height: 2.2rem;
        letter-spacing: 3px;
    }

    .section-btn {
        border: 1px solid $primary-color;
        padding: 1rem 2rem;
        align-self: flex-start;
        color: $primary-color;
        text-decoration: none;
        margin-top: 1rem;
    }
}

.brand-section {
    background-color: $light-grey;

    .brand-logo {
        width: 14rem;
        display: block;
        margin: auto;
    }
}


.mt-30 {
    margin-top: 3rem;
}

.testimonial-section {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40rem;
    margin-bottom: 12rem;
    
    .testimonial-image1 {
        // background-color: green;
        background-image: url("../images/boy-cap-carrying-1456951.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .testimonial-image2 {
        // background-color: pink;
        background-image: url("../images/adult-child-facial-expression-834508.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .testimonial-image3 {
        // background-color: red;
        background-image: url("../images/adorable-child-cute-1128317.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .testimonial-box {
        width: 50vw;
        height: 20rem;
        background-color: $white-color;
        position: absolute;
        left: 25%;
        bottom: -10rem;
        padding: 1rem;
        -webkit-box-shadow: 10px 28px 39px -1px rgba(71,71,71,0.39);
        -moz-box-shadow: 10px 28px 39px -1px rgba(71,71,71,0.39);
        box-shadow: 10px 28px 39px -1px rgba(71,71,71,0.39);
        text-align: center;
        // height: 100%;


        &__heading{
            font-size: 2rem;
            font-weight: 300;
            background-color: green;
            height: 100%;
        }

        .testimonial-box-border{
            // display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: .01rem solid $primary-color;

            .blockquote-text {
                font-size: 1.4rem;
            }
        }

        .clients-info {
            display: flex;
            flex-direction: column;
            &__name {
                font-weight: 700;
            }
            &__designation {
                font-style: italic;
            }
        }

        .slider-content-slide__inner__content{
            padding: 4rem;
            z-index: 2;

            blockquote:before{ /* For the qotation mark*/
                content: "\201C"; /* Quotation code */
                font-size: 15rem;
                color:$transparent-primaryColor;
                display: block;
                z-index: 1;
                position: absolute;
                top: -2rem ;
                left: 10rem;

                @media (max-width: 500px) {
                    left: 50%;
                }
            }
        }
    }
}

/*---- Blog section----*/

.blogs-container {
    border: none;
    background-color: $white-color;
    margin: 0 1rem;
    padding: 0;
    box-shadow: -13px 18px 9px -2px rgba(0,0,0,0.17);

    
    .dream-house-img-container{

        width: 100%;
        height: auto;
        
        .dream-house-img{
            width: 100%;
            height: auto;
        }
    }

    .content-container-box{
        padding: 1rem; 

        .blog-title{
            padding : 1.2rem 0;
            font-weight: 600;
            font-size: 1rem;
            color: $dark-brown;
            // text-align: center;
            letter-spacing: 2.5px;
            text-transform: capitalize;
        }

        .blog-para{
            letter-spacing: 2px;
            line-height: 1.7rem;
        }

        .blog-read-more{
            display: block;
            text-decoration: none;
            margin-bottom: 1.2rem;
            // padding: 0 1rem;
            font-weight: 600;
            color: $black-color;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}


/* ---- subscribe-section ----*/
.subscribe-section{
    background-color: $primary-color;
    text-align: center;

    .subscribe-heading{
        color: $white-color;
        font-weight: 200;
        font-size: 1 rem;
    }

    

}

/*---- contact-section ----*/

.contact-section{
    margin: 5rem;
    .contact-box{
        text-align: center;
        border-right: 2px solid $color-grey-primary; 

        .contact-box-header{
            margin: 1rem;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .contact-box-content{
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 3px;
        }
    }
    .contact-box:last-child {
        border-right:none;
    }
}



.subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;


    .subscribe-input {
        padding: 1rem 2rem;
        width: 50%;
        border: 2px solid #eee;
        background-color: $primary-color;
        color: #eee;

        &:focus {
            outline: none;
        }
        
        &::placeholder {
            color: #eee;
            font-size: 1.2rem;
        } 
    }

    .subscribe-btn {
        border: none;
        padding: 1rem 2rem;
        font-weight: 500;
        letter-spacing: 1px;
        &:active {
            background-color: darken(#eee, 5);
        }
        &:focus {
            outline: none;
        }
    }
}